
/* General */ 
body {
  font-family: 'texgyrescholaregular',serif;
  color: black;
  background: #bc2131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'texgyrescholabold',serif;
  margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header */

h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.link:hover {
    color: #bc2131;
    text-decoration: none;
}

.info {
    margin-top: 20px;
    line-height: 45px;
    height: 45px;
    text-size: 24px;
}

.align {
    margin-top: 20px;
    line-height: 45px;
}

.container .row {
    background-color: #f4f4f4;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 15px 8px;
    box-shadow: 0px 0px 4px black;
    margin: 0 -12px;
}

/* Add Video Form */

.container .form-control {
    border-radius: 1px;
    margin-top: 4px;
    border: 1px solid darkslategray;
    color: black;
}

.container .form-control:focus {
    box-shadow: 0px 0px 2px #bc2131;
}

.form-control::-webkit-input-placeholder {
   color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

.form-control:-ms-input-placeholder {  
   color: black;  
}

.container .btn {
    margin-top: 4px;
    border: 1px solid darkslategray;
    border-radius: 1px;
}

.add-video {
    padding: 20px 8px !important;
}
.add-video p {
    font-size: 13px;
    padding-left: 4px;
    margin-top: 4px;
    width: auto;
    line-height: 34px;
    height: 34px;
    margin-bottom: 0px;
}


p.validation {
    margin-top: 6px;
    line-height: 1.2;
    width: 180px;
}

.crouch {
    display: block;
    height: 154px;
    margin: 0 auto;
}


/* Videos */

.player-wrapper {
    filter: grayscale(.9) hue-rotate(90deg);
    -webkit-filter: grayscale(.9) hue-rotate(90deg);
    -moz-filter: grayscale(.9) hue-rotate(90deg);
}

.video {
    padding: 0px 0px !important;
    border-right: 4px solid black !important;
    border-bottom: 4px solid black !important;
}

.video .col-sm-6 {
    height: 100%;
    overflow: hidden;
}

.player {
        width: 100%;
        height: 300px;
}

.video-caption {
    height: 65px;
    overflow-y: scroll;
    padding: 4px 6px;
    background-color: white;
}


#videos {
    border-left: 4px solid black;
    border-right: none;
    border-bottom: none;
    padding: 0px 0px;
    box-shadow: 0px 0px 2px black;
    background-color: black;
}

.title {
  font-family: 'texgyrescholabold_italic',serif;
  font-size: 16px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.views {
    font-family: 'textgryeschola';
    font-size: 12px;
}

.text {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
}
