<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="website for sharing videos with less than
100 views">
<meta name="author" content="Patrick Steadman and Alina Nguyen">
<link rel="shortcut icon" href="{{
request.static_url('img_1772:img_1772_static/favicon.ico') }}">

<title>IMG_1772</title>
<link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="{{request.static_url('img_1772:img_1772_static/theme.css')}}" rel="stylesheet">
<link href="{{request.static_url('img_1772:img_1772_static/texgyrescholaregular.css')}}" rel="stylesheet">
<link href="{{request.static_url('img_1772:img_1772_static/texgyrescholabold.css')}}" rel="stylesheet">
<link href="{{request.static_url('img_1772:img_1772_static/texgyrescholabolditalic.css')}}" rel="stylesheet">
<script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{request.static_url('img_1772:img_1772_static/site.js')}}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <a href="/IMG_1772"><h1 class="link">IMG_1772</h1></a>
        </div>
        <div class="col-xs-6">
            <a target="_blank" href="http://img-1772.tumblr.com"><p class="hidden-sm hidden-md
                hidden-lg pull-right info link">Info.</p></a>
            <a target="_blank" href="http://img-1772.tumblr.com"><p class="hidden-xs align
                pull-right link">A website for videos with &lt; 100
                views.</p></a>
        </div>
    </div>
    <div class="row add-video">
        <div class="col-xs-12 col-md-6">
            <form class="form" method="post">
                <input name="url" type="text" class="form-control" value="{{
                url }}" placeholder="Enter a youtube URL...">
                <textarea name="caption" class="form-control" rows="3"
                    placeholder="Enter your thoughts about this video...">{{
                    caption }}</textarea>
                        <p class="pull-left hidden-xs">{{ message }}</p>
                        <p class="pull-left validation visible-xs">{{ message }}</p>
                        <button  type="submit" class="btn btn-default pull-right">Submit</button>
            </form>
        </div>
        <div class="col-md-6 hidden-xs hidden-sm" style="border-left: 2px solid
            black;">
            <img class="crouch" src=" {{
            request.static_url('img_1772:img_1772_static/person.svg') }}">
        </div>
    </div>
    <div id="videos" class="row">
        {% for vid in videos %}
            <div class="video col-xs-12 col-sm-6 col-lg-4">
               <iframe class="player" 
        src="http://www.youtube.com/embed/{{vid['youtube_id']}}?controls=1&showinfo=0&modestbranding=1i&cc_load_policy=1" frameborder="0"
        allowfullscreen></iframe> 
            <div class="video-caption">
                <div class="pull-left title"> {{ vid['title'] }}</div>
                <div class="pull-right views">{{ vid['views'] }} views</div>
                <div class="pull-left text">{{ vid['caption'] }}</div>
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div id="load-more" class="col-xs-12">
            <center><a><h3 class="link">Load More</h3></a></center>
        </div>
    </div>
</div>
</body>
</html>
