@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: 'texgyrescholaregular',serif;
  color: black;
  background: #bc2131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'texgyrescholabold',serif;
}

h1{
    font-size: 42px;
    margin-bottom: 20px;
  text-shadow: 0px 0px 1px darkslategray;
}


.container .form-control {
    border-radius: 1px;
    margin-top: 3px;
    border: 1px solid darkslategray;
    color: black;
}

.container .form-control:focus {
    box-shadow: 0px 0px 2px #bc2131;
}

.form-control::-webkit-input-placeholder {
   color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

.form-control:-ms-input-placeholder {  
   color: red;  
}

.container .btn {
    margin-top: 3px;
    border: 1px solid darkslategray;
    border-radius: 1px;
}

.container .row {
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 16px 8px;
    box-shadow: 0px 0px 2px black;
    background-color: white;
}

#add-video {
    padding-top: 10px;
}

#add-video p {
    margin-top: 10px;
}

.crouch {
    display: block;
    height: 164px;
    margin: 0 auto;
}

.align {
    line-height: 42px;
    height: 42px;
    margin-top: 20px;
    text-shadow: 0px 0px 1px darkslategray;
}
.starter-template .content {
  margin-left: 10px;
}
.starter-template .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.starter-template .content h1 .smaller {
  font-size: 40px;
  color: #f2b7bd;
}
.starter-template .content .lead {
  font-size: 25px;
  color: #f2b7bd;
}
.starter-template .content .lead .font-normal {
  color: #ffffff;
}
