@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: 'texgyrescholaregular',serif;
  color: black;
  background: #bc2131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'texgyrescholabold',serif;
}

h1{
    font-size: 42px;
    margin-bottom: 20px;
  text-shadow: 0px 0px 1px black;
}

.link {
    cursor: pointer;
}
.link:hover {
    color: #bc2131;
}

.info {
    margin-top: 20px;
    line-height: 45px;
    height: 45px;
    text-shadow: 0px 0px 1px black;
    text-size: 24px;
}

.align {
    margin-top: 20px;
    line-height: 45px;
    text-shadow: 0px 0px 1px black;
}

.container .form-control {
    border-radius: 1px;
    margin-top: 4px;
    border: 1px solid darkslategray;
    color: black;
}

.container .form-control:focus {
    box-shadow: 0px 0px 2px #bc2131;
}


.video {
    padding: 0px 0px !important;
    border-right: none !important;
}

.video .col-sm-6 {
    border-right: 4px solid black !important;
    height: 100%;
    overflow: hidden;
}

.player {
        width: 100%;
        height: 300px;
}

.video-caption {
    height: 65px;
    overflow-y: scroll;
}

.form-control::-webkit-input-placeholder {
   color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

.form-control:-ms-input-placeholder {  
   color: red;  
}

.container .btn {
    margin-top: 4px;
    border: 1px solid darkslategray;
    border-radius: 1px;
}

.container .row {
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 15px 8px;
    box-shadow: 0px 0px 2px black;
    background-color: white;
}

.add-video {
    padding: 30px 8px !important;
}
.add-video p {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0px;
    line-height: 1.1;
}


.validation {
    width: 200px;
}

.crouch {
    display: block;
    height: 154px;
    margin: 0 auto;
}

